<header>
  {%- if title %}<h1>{{ title }}</h1>{% endif %}
  <p class="subtitle">Businesses in Liverpool rallying together to feed kids when the Tories voted against it. Add a restaurant <a href="https://forms.gle/rvi1c11FxUgnrHa67" target="_blank">here</a>.</p>
</header>
